<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Our Band Is Called...</title>
	<link href="/css/hello.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=400, user-scalable=yes">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>

<body>
	<div id="vinyl">
		<div id="cover">
		  <a href="/"><img src="<%= @album_cover %>" /></a>
		</div>
	</div>
	<h1><%= @band_name %></h1>
	<h2><%= @album_name %></h2>

	
	<a id="wtf" href="#" onclick="$('#footer').toggle();return false;">WTF?</a>
	<div id="footer">
		<p><i>Our Band Is Called...</i> is a Rock 'n' Roll band name generator implementing <a href="http://dubiousquality.blogspot.com/2008/01/rock-band-99.html">Bill Harris' algorithm</a>:</p>
		<p>Your band is named after <a href="<%= @band_name_url %>">a random Wikipedia page</a>.</p>
		<p>Your album comes from the last four words of <a href="<%= @album_name_url %>">a random quote</a>.</p>
		<p>Your album cover is <a href="<%= @album_cover_url %>">the third picture</a> on Flick's interesting photos.</p><br />
		<p>Click on your album cover or refresh to generate a new band.</p>
	</div>
	
	<div id="made-by">
		Made by <a href="http://0to88.com">0to88</a>
	</div>

	<div class="ribbon">
	  <a href="http://github.com/KevinBongart/ourbandiscalled" rel="me">Fork me on GitHub</a>
	</div>

</body>
</html>
