<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Our Band Is Called...</title>
	<link href="/css/hello.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=400, user-scalable=yes">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
</head>

<body>
	<div id="vinyl">
		<div id="cover">
		  <a href="/"><img src="<%= @album_cover %>" /></a>
		</div>
	</div>
	<h2><%= @album_name %></h2>
	<div id="by">
		by
	</div>
	<h1><%= @band_name %></h1>

	
	<a id="wtf" href="#" onclick="$('#footer').toggle();return false;">WTF?</a>
	<div id="footer">
		This is an <a href="http://github.com/KevinBongart/ourbandiscalled" rel="me">open-source</a> implementation of <a href="http://dubiousquality.blogspot.com/2008/01/rock-band-99.html">Bill Harris' algorithm</a> for generating random band names.<br />
		Here are the <a href="<%= @album_cover_url %>">picture on Flickr</a>, the <a href="<%= @band_name_url %>">random Wikipedia page</a> and the <a href="<%= @album_name_url %>">random quote</a><br />
		Refresh the page to generate a new band.
	</div>
	<div id="share">
		<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fourbandiscalled.com%2F&amp;layout=button_count&amp;show_faces=true&amp;width=200&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
		<script src="http://platform.twitter.com/widgets.js" type="text/javascript" charset="utf-8"></script>
		<div>
			<a href="http://twitter.com/share?text=My band is <%= @band_name %> and we're about to release '<%= @album_name %>.'&amp;url=http://ourbandiscalled.com&amp;related=0to88:The guys who made this" class="twitter-share-button">tweet this</a>
		</div>
	</div>
	<div id="made-by">
		Made by <a href="http://0to88.com">0to88</a>
	</div>

</body>
</html>
