<div id="vinyl">
  <div id="cover">
    <%= link_to image_tag(@record.cover), root_path %>
  </div>
</div>

<h2><%= @record.title %></h2>

<div id="by">
  by
</div>

<h1><%= @record.band %></h1>

<div id="footer">
  <div id="share">
    <%= render "facebook_button" %>
    <%= render "twitter_button" %>
  </div>

  <p>
    This is an <a href="http://github.com/KevinBongart/ourbandiscalled" rel="me">open-source</a> implementation of <a href="http://dubiousquality.blogspot.com/2008/01/rock-band-99.html">Bill Harris' algorithm</a> for generating random band names.<br />
    Here are the
    <%= link_to "picture on Flickr", @record.flickr_url %>, the
    <%= link_to "random Wikipedia page", @record.wikipedia_url %> and the
    <%= link_to "random quote", @record.quotationspage_url %>.
  </p>
  <p>Refresh the page to generate a new band.</p>
  <p>Made by <a href="http://0to88.com">0to88</a></p>
</div>
