<!DOCTYPE html>
<html>
<head>
  <title>Our Band Is Called...</title>
  <meta name="viewport" content="width=500, user-scalable=yes">
  <%= tag :meta, property: "og:url", content: slug_url(@record) %>
  <%= tag :meta, property: "og:title", content: "Our band is called #{@record.band} and we just released #{@record.title}" %>
  <%= tag :meta, property: "og:description", content: "Our Band Is Called… is a Rock 'n' Roll band name generator. What's yours?" %>
  <%= tag :meta, property: "og:image", content: @record.cover %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <%= render "layouts/facebook" %>
  <%= yield %>
</body>
</html>
